[submodule "microservices/comments-service"]
	path = microservices/comments-service
	url = https://github.com/felipezschornack/ems-algacomments-comments-service.git
[submodule "microservices/moderation-service"]
	path = microservices/moderation-service
	url = https://github.com/felipezschornack/ems-algacomments-moderation-service.git
